* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
  }
  
  body {
    background-color: black;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ball-1 {
    background: linear-gradient(#006eff, #8303eb);
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
    position: absolute;
    left: calc(50% - (min(90vw, 40rem)/2) - 8rem);
    top: calc(50% - 16rem);
    z-index: 0;
    animation-name: move-up;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  .ball-2 {
    background: linear-gradient(#9213e7, #4f0de9);
    background-color: #9213e7;
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
    left: calc(50% + (min(90vw, 40rem)/2) - 8rem);
    top: calc(50% + 3rem);
    position: absolute;
    z-index: 0;
    animation-name: move-down;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes move-up {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes move-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .clock {
    width: min(90vw,40rem);
    height: min(90vw,40rem);
    position: relative;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(12px);
    box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    width: 100%;
    height: 100%;
}
  
  .second {
    width: 5px;
    height: 35%;
    position: absolute;
    background-color: aliceblue;
    transform: translateY(-50%);
    transform-origin: bottom center;
    border-radius: 5px;
    z-index: 1;
  }
  
  .minute {
    width: 8px;
    height: 28%;
    position: absolute;
    background-color: rgb(0, 110, 255);
    transform: translateY(-50%);
    transform-origin: bottom center;
    border-radius: 5px;
    z-index: 1;
  }
  
  .hour {
    width: 12px;
    height: 20%;
    position: absolute;
    background-color: rgb(146, 19, 231);
    transform: translateY(-50%);
    transform-origin: bottom center;
    border-radius: 13px;
    z-index: 1;
  }
  
  .dot {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: aliceblue;
    position: absolute;
    z-index: 2;
  }

  @media (min-width:1200px){
    .ball-1{
        width: 20rem;
        height: 20rem;
        left: 25rem;
        top: 10rem
    }
    .ball-2{
        width: 20rem;
        height: 20rem;
    }
  }